body{
    background-image: url(../doc/resume-pic.jpg);
    background-position: center top;
    height: 1750px;
}
.container{
    width: 1170px;
    margin: auto;
}
.fc{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.fi{
    border: solid 3px;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.w-100{
    width: 100%;
}
.header{
    background-color: #313c4e;
    height: 254px;
}
.contact{
    background-color: rgb(34 42 51);
    height: 60px;
}
.main-section{
    background-color: white;
    height: 1431px;
