#header{
    background-color: #323639;
}
#header h1{
    color: white;
}
#header h3{
    color: #276d81;
}
#header p{
    color: white;
}
#contact{
    background-color: #222a33;
}
#contact a{
    color: white;
}